bayesian-optimization>=1.4.3
dm-haiku>=0.0.10
gurobipy>=10.0.0
gymnasium
jax>=0.4.12
matplotlib>=3.5.0
numpy>=1.22
optax>=0.1.9
pillow>=9.2.0
ply
pygame
scipy
symengine>=0.11.0
sympy>=1.12
tensorflow-probability>=0.21.0
tensorflow>=2.13.0
termcolor
tqdm>=4.66
xaddpy>=0.2.5